.Person {
    background-color: white;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1em;
    border-radius: 5px;
}

.Person .Header{
    font-size: x-large;
    background-color: white;
}

.Person .Header .Title{
    text-align: center;
    padding:1em;
    font-weight: 100;
}

.Person .Header .Name{
    text-align: center;  
    font-weight: 100;
    font-size: 48px;
    line-height: 1em;
    vertical-align: middle;
    padding: .25em;
    padding-top: .5em;
}
.Person .Header .image{
    text-align: center;
    padding: 1em;
}

.img-circle {
    border-radius: 50%;
    height: 10em;
}

.Person .Header .icons {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.Person .Header .IconLink{
    text-align: center;
    padding-left: 10px;
    float: left;
}

.Person .Body{

    vertical-align: middle;
    padding: 0em 2em 2em 2em;
}


.Person .Header .IconLink{
    size: 400px;
    height: 40px;
    width: 40px;
}


.Person .Body .Blurb{
    font-size: smaller;
}
