.Home {
  font-family: var(--our-paired-font);
  position:relative;
}

.home-banner-image {
  max-height: 800px;
  min-height: 500px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-we-do{
  font-size: 3vw;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight:200;
}
