

.approach{
  padding-top: 3em;
  padding-bottom:3em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background: #3cbace;
  text-align: center;
  color:#eeeeee;

}

h2{
  font-weight: 100;
  font-size: 48px;
  line-height: 1em;
}

.header{
  background: white;
  color:black
}