.Logo{
    line-height: 1;
    font-family: var(--our-font-family);
    display: flex;
  }

.Logo .img-bg{
    display: flex;
} 

.Logo img{
    height: 50px;
    width: 50px;
    margin:auto;
}
  
.Cell{
    font-size: 35px;
    color: var(--c3); /* var(--c4); */
    display: inline-block;
    margin: auto;
}  
