/*
Custom CSS Properties -
  Which probably work in development
  browsers but are post-processed out for prod browsers see 
  package.json#postbuild

  For simple use cases I use this page to auto generate colors:
  https://coolors.co/44af69-f8333c-fcab10-2b9eb3-dbd5b5  
  
  
  */



:root {
  --c1: #D64933;
  --c1-transparent: rgba(214, 73, 51, 0.75);
  --c2: #0C7C59;
  --c3: #4C0827;
  --dark: #323232;
  --light: #cdcdcd;
  --bg: white;
  --our-font-family: "Merriweather Sans";
  --our-paired-font: "Open Sans"
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans" !important;

}

.brand{
  font-family: "Merriweather Sans";
  color: #4C0827;
  letter-spacing: 0.20ch;
}

/*
DESIGN DECISIONS:

1> What is the brand logo / color scheme? 
2> Which color to use as the background? 
3> Is it a boxed format or full width site?
4> Header design - for purpose, first thing people see. ( awareness and understanding of what you are about).
    - image heavy if you are selling a house, a photo collection, a holiday etc....
    - image with content - safest bet for all sites
    - slide show with content ( maybe each person )
    - video background header 
    - 
    (quite liked this overview : https://www.websitebuilderexpert.com/criteria-to-choosing-website-template-design/)

5> menu bar design - make sure important options to left, easy on eye but decent contrast. - brand!
    - should it fix and flow down with page ( good for long pages in case user switches pages.
    - only have the key items of navigation there that communicate. 

6> Logo positioning
    -left corner? 
    - center below or above menu bar.




*/


