@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat|Rozha+One|Yeseva+One');

html {
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
    height: 100%;
}

.bg-dark {
    background-color: $dark-base-color !important;
}

// To make the header stick on top
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#logo {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 100%;

    img {
        height: 40px;
        width: 40px;
    }

    a {
        font-family: $brand-font-family;
        font-size: 28px;

        span {
            color: $light-base-color;
            text-shadow: 2.5px 2.5px 0 $brand-color;
        }
    }
}

nav.navbar {
    padding: 0rem 2rem;
}

div.navbar-collapse {
    position: relative;
}

li.nav-item {
    text-align: center;
    padding: 0 0.5rem;

    &:hover {
        background-color: none;
    }
}

@media only screen and (min-width: 768px) {
    ul.navbar-nav {
        position: absolute;
        right: 0;
    }
}

#tagline {
    background-color: $tagline-primary-bg-color;
    color: $tagline-primary-color;
    font-family: $tagline-primary-font-family;
    display: flex;
    height: $tagline-primary-font-size * 8;
    margin-top: $tagline-top-margin;
    padding: 0 10vw;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid white;
    }

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    div.tagline-text-wrapper {
        position: absolute;
        margin: 0 auto;
        top: 33.33%;
        transform: translateY(-33.33%);

        > p {
            font-size: $tagline-primary-font-size;

            &#rotating-text {
                color: $tagline-active-text-color;
                text-transform: uppercase;
            }
        }

        ul {
            list-style: none;

            li {
                font-size: 1.5rem;
                float: left;
                padding-right: 10px;
                transition: all 0.2s linear;

                &.active {
                    color: $tagline-active-text-color;
                }
            }
        }

        div.cta {
            margin-top: 1rem;

            a {
                letter-spacing: 1px;

                &:link,
                &:visited {
                    background-color: $tagline-active-text-color;
                    border-radius: 5px;
                    color: $light-base-color;
                    display: inline-block;
                    padding: 1rem 2rem;
                }

                &:hover,
                &:active {
                    background-color: $tagline-active-text-color * 1.1;
                    text-decoration: none;
                }

                &:active {
                    background-color: $tagline-active-text-color;
                }
            }
        }
    }
}

#home {
    color: $dark-base-color;
    padding: 5vw 10vw;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $dark-base-color;
    }

    p {
        font-family: $content-font-family;
        font-size: 4vw;
        text-align: center;

        span.brand {
            color: $brand-color;
            font-family: $brand-font-family;
        }
    }

    figure {
        text-align: center;

        img {
            width: 30vw;
        }
    }
}

#testimonials {
    background-color: #2c302e;
    color: $light-base-color;
    padding: 5vw 10vw;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid white;
    }

    h2 {
        font-family: $headings-font-family;
        font-size: $headings-font-size;
        text-align: center;
    }

    article {
        border-radius: 0.25rem;
        font-family: $content-font-family;
        font-size: 1rem;
        line-height: 100%;
        margin: 1rem auto;
        padding: 1rem;
        position: relative;
        text-align: center;

        blockquote {
            margin-top: 1rem;
            line-height: 150%;
        }

        small.author {
            font-family: $content-font-family;

            span {
                color: $stand-out-base-color * 1.5;
            }
        }
    }
}
