html {
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    height: 100%;
}

h2 {
    @include breakpoint($mobile-portrait-only) {
        font-size: $headings-font-size-mobile-portrait;
        transition: $transition-default;
    }
    font-family: $headings-font-family;
    font-size: $headings-font-size;
    font-weight: $headings-font-weight;
    transition: $transition-default;
}

h3 {
    @include breakpoint($mobile-portrait-only) {
        font-size: $subheadings-font-size-mobile-portrait;
        transition: $transition-default;
    }
    font-family: $subheadings-font-family;
    font-size: $subheadings-font-size;
    font-weight: $subheadings-font-weight;
    transition: $transition-default;
}
.center{
    display:flex;
    justify-content: center;
}

a.contact-us-link {
    &:link, &:visited, &:active {
        color: $highlight;
    }

    &:hover {
        color: $highlight / 0.9;
    }
}

.container {
    position: relative;
}

.bg-dark {
    background-color: $dark-base-color !important;
}

.img-fluid {
    max-width: 90% !important;
    height: auto !important;
}

// To make the header stick on top
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#logo {
    @include breakpoint($mobile-portrait-only) {
        padding: 0 0.5rem;
        transition: $transition-default;
    }
    @include breakpoint($mobile-landscape-only) {
        padding: 0 0.5rem;
        transition: $transition-default;
    }
    line-height: 0;
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    transition: $transition-default;

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    &.shrink {
        padding: 0 0.5rem;
        transition: $transition-default;

        a {
            img {
                height: $brand-logo-height - ($brand-logo-height * 0.5);
                width: $brand-logo-height - ($brand-logo-height * 0.5);
                transition: $transition-default;
            }
        }
    }

    a {
        color: $light-base-color;

        img {
            @include breakpoint($mobile-portrait-only) {
                height: $brand-logo-height - ($brand-logo-height * 0.5);
                width: $brand-logo-height - ($brand-logo-height * 0.5);
                transition: $transition-default;
            }
            @include breakpoint($mobile-landscape-only) {
                height: $brand-logo-height - ($brand-logo-height * 0.5);
                width: $brand-logo-height - ($brand-logo-height * 0.5);
                transition: $transition-default;
            }
            height: $brand-logo-height;
            width: $brand-logo-width;
            transition: $transition-default;
        }
    }
}

nav.navbar {
    padding: 0.5rem;
}

div.navbar-collapse {
    position: relative;
}

li.nav-item {
    text-align: center;
    padding: 0 1rem;
    font-family: $content-font-family;

    &:hover {
        background-color: none;
    }
}

@media only screen and (min-width: 768px) {
    ul.navbar-nav {
        position: absolute;
        right: 0;
    }
}

.call-to-action{
    margin-top: 0.5rem;
    text-decoration: none;
}

#home {
    background-color: $tagline-primary-bg-color;
    color: $tagline-primary-color;
    font-family: $tagline-primary-font-family;
    display: flex;
    height: 100vh;
    margin: 0;
    margin-top: $tagline-top-margin;
    padding: 0 10vw;
    position: relative;
    transition: $transition-default;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $light-base-color;
    }

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    div.tagline-wrapper {
        position: absolute;
        top: 50%;
        line-height: 1.75ch;
        transform: translateY(-50%);

        h2 {
            font-size: $tagline-primary-font-size !important;
            font-weight: $tagline-primary-font-weight;
            text-align: left;

            ul.slick-dots {
                display: none !important;
            }
        }

        a {
            display: block;

            &:link, &:visited {
                color: $stand-out-base-color;
                text-decoration: none;
            }
            &:hover {
                color: $stand-out-base-color;
            }
            &:active {
                color: $stand-out-base-color;
            }
            &:visited:active {
                color: $stand-out-base-color;
            }
        }
    }



    a.learn-more-btn {

            position: absolute;
            bottom: $section-break-half-size;
            right: 14%;
            z-index: 2;

            &:link, &:visited {
            display: inline-block;
            background-color: $highlight;
            color: white;
            padding: 1rem 3rem;
            margin-top: 0.5rem;
            text-decoration: none;
        }

        &:hover {
            background-color: $highlight / 0.9;
            color: white;
        }

        &:active {
            background-color: $highlight;
            color: white;
        }
    }}

#solutions {
    background-color: $light-base-color;
    color: $dark-base-color;
    position: relative;
    padding: 5rem 0;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $dark-base-color;
    }

    h2 {
        text-align: center;
    }

    p {
        @include breakpoint($mobile-portrait-only) {
            font-size: 3.5vmax;
        }
        @include breakpoint($mobile-landscape-only) {
            font-size: 3.5vmax;
        }

        font-size: 2vmax;
    }

    div.solutions-nav {
        margin: 0;
        padding: 0;

        a {
            display: inline-block !important;
            text-align: center;
            margin: 0;
            padding: 1rem;
            transition: $transition-default;

            &:link, &:visited {
                color: $dark-base-color;
                text-decoration: none;
            }

            &:hover {
                font-weight: bold;
                transition: $transition-default;
            }

            img {
                width: 12vmin;
                height: 12vmin;
            }

            p {
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}

section.solution {
    @include breakpoint($mobile-portrait-only) {
        height: auto;
    }
    @include breakpoint($mobile-landscape-only) {
        height: auto;
    }
    @include breakpoint($tablet-portrait-only) {
        height: auto;
    }
    @include breakpoint($tablet-landscape-only) {
        height: auto;
    }


    @include medium-screen-and-up() {
        padding: 15rem 1rem;
    }
    @include large-screen() {
        padding: 15rem 1rem;
    }

    position: relative;
    padding: 5rem 1rem;
    margin: 0;
    height: 100vh;

    &:nth-child(odd) {
        background-color: $dark-base-color;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            height: $section-break-border-size;
            width: 50%;
            border-left: $section-break-border-size solid transparent;
            border-bottom: $section-break-border-size solid $light-base-color;
        }

        p, h3, li {
            color: $light-base-color;
        }
    }

    &:nth-child(even) {
        background-color: $light-base-color;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            height: $section-break-border-size;
            width: 50%;
            border-left: $section-break-border-size solid transparent;
            border-bottom: $section-break-border-size solid $dark-base-color;
        }

        p, h3, li {
            color: $dark-base-color;
        }
    }

    div.icon-wrapper {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body-wrapper {
        display: flex;
        justify-content: center;

        div.solution-text {
            display: flex;
            flex-direction: column;
        }
    }

    figure {
        margin: 0 auto 1rem;
        text-align: center;

        img {
            transition: $transition-default;
            margin: 0 auto;

            @include large-screen() {
                width: 40vmin;
                height: 40vmin;
            }

            @include medium-screen-and-up() {
                width: 40vmin;
                height: 40vmin;
            }

            @include medium-screen-only() {
                width: 40vmin;
                height: 40vmin;
            }
            @include tablet-and-below() {
                width: 40vmin;
                height: 40vmin;
            }
        }

        figcaption {
            color: $dark-base-color;
            font-size: $headings-font-size * 0.8;
            font-weight: bold;
        }
    }

    h3 {
        @include breakpoint($mobile-portrait-only) {
            font-size: 1.5rem;
            text-align: center;
            transition: $transition-default;
        }
        @include breakpoint($mobile-landscape-only) {
            font-size: 1.5rem;
            text-align: center;
            transition: $transition-default;
        }
        @include breakpoint($tablet-portrait-only) {
            font-size: 1.5rem;
            text-align: center;
            transition: $transition-default;
        }
        @include breakpoint($tablet-landscape-only) {
            font-size: 1.5rem;
            text-align: center;
            transition: $transition-default;
        }
        font-size: 2rem;
        font-weight: bold;
        font-family: $headings-font-family;
        transition: $transition-default;
    }

    p {
        font-family: $content-font-family;
        font-size: 1rem;
        line-height: 150%;
    }

    ul {
        @include breakpoint($landscape-min) {
            text-indent: 1rem;
        }

        li {
            @include breakpoint($mobile-portrait-only) {
                font-size: 0.9rem;
                position: relative;
                padding-left: 1.5em;
            }
            font-family: $content-font-family;
            padding: 0.25rem 0;

            i {
                @include breakpoint($mobile-portrait-only) {
                    position: absolute;
                    left: 0;
                    top: 7px;
                }
            }
        }
    }
}


#testimonials {
    background-color: $dark-base-color;
    color: $light-base-color;
    padding: 5rem 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $stand-out-base-color;
    }

    h2 {
        text-align: center;
    }

    article {
        border-radius: 0.25rem;
        font-family: $content-font-family;
        font-size: 1rem;
        line-height: 100%;
        margin: 1rem auto;
        padding: 1rem;
        position: relative;
        text-align: center;

        blockquote {
            @include breakpoint($mobile-portrait-only) {
                padding: 0;
            }
            @include breakpoint($tablet-portrait-only) {
                padding: 0;
            }
            @include breakpoint($mobile-landscape-only) {
                padding: 0 10vh;
            }
            @include breakpoint($tablet-landscape-only) {
                padding: 0 10vh;
            }
            margin-top: 1rem;
            line-height: 150%;
        }

        small.author {
            font-family: $content-font-family;

            span {
                color: $stand-out-base-color * 1.5;
            }
        }
    }
}

#start-up.solution:after {
        border-bottom: $section-break-border-size solid $stand-out-base-color;
}


#profiles {
    @include mobile-only() {
        padding: 5rem 0;
    }
    background: $stand-out-base-color;
    color: white;
    padding: 6vw 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $dark-base-color;
    }

    h2 {
        text-align: center;
    }
}

.team {
    margin-top: 4em;
    &-member {
        @include large-screen() {
            max-width: 1000px;
        }
        @include medium-screen-and-up() {
            margin: 0 auto;
        }
        @include medium-screen-only() {
            max-width: 700px;
        }
        @include tablet-and-below() {
            margin: 0 30px;
            text-align: center;
        }
        &-about {
            @include medium-screen-and-up() {
                margin-bottom: 9em;
            }
        }
        &-name {
            @include mobile-only() {
                font-size: 2rem;
            }
            font-size: 2.6rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &-title {
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        &-bio {
            font-size: 1.1rem;
            line-height: 1.8;
        }
        &-photo {
            @include tablet-and-below() {
                margin-bottom: 2em;
            }
            @include mobile-only() {
                max-width: 230px;
            }
            border-radius: 50%;
            margin: 0 auto;
            max-width: 350px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
            img {
                width: 100%;
            }
        }
        &-social {
            @include mobile-only() {
                margin-bottom: 0.5em;
            }
            font-size: 2rem;
            list-style: none;
            margin-bottom: 1em;
            padding-left: 0;
            & > li {
                display: inline-block;
                &:not(:last-of-type) {
                    margin-right: 15px;
                }
                a {
                    color: white;
                }
            }
        }
    }
}

.teamNav {
    @include tablet-and-below() {
        display: none;
    }
    margin: 2em auto 0;
    max-width: 500px;
    &-slide {
        img {
            cursor: pointer;
            border: 4px solid $gray;
            background: white;
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }
    }
    .slick-track {
        transform: translate3d(0px, 0px, 0px) !important;
    }
}

.contact {
    @include mobile-only() {
        padding: 5rem 0;
    }
    background: $dark-base-color;
    color: white;
    padding: 6vw 0;
    position: relative;

    strong{
        color: $highlight;
        font-weight: bolder;
    }

    p {
        @include mobile-only() {
            font-size: inherit;
        }
        font-size: 2rem;
    }

    ul {
        padding-left: 0;

        li{
            list-style: none;
            text-align: left;

            .fa-check{
                font-size: 1.5rem;
                margin-right: 0.5rem;
            }

            p{
                font-size: 1.5rem;
            }

            .fa-check,
            p {

                    font-size: inherit;
            }
        }
    }

    form {

        input,
        textarea,
        button {
            border-radius: 0;
        }

        input {
            height: 45px;
        }

        button {
            background: $stand-out-base-color;
            color: white;
            min-width: 100px;
        }

        .alert {
            margin-top: 20px;
        }
    }
}

.sitefooter {
    @include mobile-only() {
        padding: 0em 0;
        text-align: center;
    }
    background: black;
    color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    text-align: center;

    [class*=col-lg-3] {
        &:not(:last-of-type) {
            @include medium-screen-and-up() {
                border-right: 1px dashed transparentize(white, 0.8);
            }
        }
        &:nth-child(-n+2){
            @include tablet-and-below() {
                padding-bottom: 10px;
                border-bottom: 1px dashed transparentize(white, 0.8);
            }
        }
        &:not(:last-of-type) {
            @include mobile-only() {
                    padding-bottom: 10px;
                    border-bottom: 1px dashed transparentize(white, 0.8);
            }
        }
    }


    &-meta {
        max-width: 80%;
        margin: 1em auto 0;

        i {
            display: block;
            font-size: 1.4rem;
            margin-bottom: 15px;
        }

        address,
        span,
        a {
            display: block;
            font-weight: bold;
            margin-top: 10px;
        }

        span,
        a {
            font-size: 1.2rem;
        }
    }
    img{
        height: 25px;
        width:25px;
    }

    a {
        color: white;
    }
}

.form-group {
    margin-bottom: 1.3em;
}

.mobile-border {
    @include tablet-and-up() {
        display: none;
    }
    border-top: 1px dashed transparentize(white, 0.8);
    margin: 30px 0;
}

.slick {
    &-next-arrow,
    &-prev-arrow {
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &-next-arrow {
        @include mobile-only {
            left: auto;
            right: 0;
        }
        left: 100%;
    }
    &-prev-arrow {
        @include mobile-only {
            left: 0;
            right: auto;
        }
        right: 100%;
    }
}

.subtext {
    margin-bottom: 3em;
}

span.text-orange{
    margin: 0px;
    padding:0px;
    line-height: 1.2ch;
    display: inline;

}

.text-orange {
    color: $stand-out-base-color;
}

.text-highlight {
    color: $highlight;
}

.text-highlight-star {
    color: $star;
}

ul {
    padding-left: 0;

    li{
        list-style: none;
        text-align: left;

        .fas{
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }

        p{
            font-size: 1.5rem;
        }

        .fas,
        p {

                font-size: inherit;
        }
    }
}
