html {
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
    height: 100%;
}

h2 {
    @include breakpoint($mobile-portrait-only) {
        font-size: $headings-font-size-mobile-portrait;
        transition: $transition-default;
    }
    font-family: $headings-font-family;
    font-size: $headings-font-size;
    font-weight: $headings-font-weight;
    transition: $transition-default;
}

.container {
    position: relative;
}

.bg-dark {
    background-color: $dark-base-color !important;
}

// To make the header stick on top
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#logo {
    @include breakpoint($mobile-portrait-only) {
        padding: 0.25rem 0;
    }
    @include breakpoint($mobile-landscape-only) {
        padding: 0.25rem 0;
    }
    line-height: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    &.shrink {
        a {
            img {
                height: $brand-logo-height - ($brand-logo-height * 0.4);
                width: $brand-logo-height - ($brand-logo-height * 0.4);
                transition: $transition-default;
            }

            p {
                animation: shrinking-text 0.2s forwards;
            }
        }
    }

    a {
        color: $light-base-color;

        img {
            @include breakpoint($mobile-portrait-only) {
                height: $brand-logo-height - ($brand-logo-height * 0.4);
                width: $brand-logo-height - ($brand-logo-height * 0.4);
                transition: $transition-default;
            }
            @include breakpoint($mobile-landscape-only) {
                height: $brand-logo-height - ($brand-logo-height * 0.4);
                width: $brand-logo-height - ($brand-logo-height * 0.4);
                transition: $transition-default;
            }
            height: $brand-logo-height;
            width: $brand-logo-width;
            transition: $transition-default;
        }

        p {
            @include breakpoint($mobile-portrait-only) {
                animation: shrinking-text 0.2s forwards;
            }
            @include breakpoint($mobile-landscape-only) {
                animation: shrinking-text 0.2s forwards;
            }

            font-family: $brand-font-family;
            font-size: $brand-font-size;
            font-weight: bold;
            height: $brand-font-size;
            transition: $transition-default;

            span {
                margin-left: -0.25ch;
            }
        }
    }

    @keyframes shrinking-text {
        from {
            font-size: $brand-font-size;
            height: $brand-font-size;
        }

        to {
            font-size: $brand-font-size - ($brand-font-size * 0.4);
            height: $brand-font-size - ($brand-font-size * 0.4);
        }
    }
}

nav.navbar {
    padding: 0rem 1rem;
}

div.navbar-collapse {
    position: relative;
}

li.nav-item {
    text-align: center;
    padding: 0 1.2rem;
    font-family: $content-font-family;

    &:hover {
        background-color: none;
    }
}

@media only screen and (min-width: 768px) {
    ul.navbar-nav {
        position: absolute;
        right: 0;
    }
}

#home {
    background-color: $tagline-primary-bg-color;
    color: $tagline-primary-color;
    font-family: $tagline-primary-font-family;
    display: flex;
    height: 100vh;
    margin-top: $tagline-top-margin;
    padding: 0 10vw;
    position: relative;
    transition: $transition-default;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid white;
    }

    * {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }

    div.tagline-text-wrapper {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition-default;

        > p {
            @include breakpoint($mobile-portrait-only) {
                font-size: $tagline-primary-font-size-mobile-portrait;
                transition: $transition-default;
            }

            @include breakpoint($mobile-landscape-only) {
                font-size: $tagline-primary-font-size-mobile-landscape;
                transition: $transition-default;
            }

            @include breakpoint($tablet-portrait-only) {
                font-size: $tagline-primary-font-size-tablet-portrait;
                transition: $transition-default;
            }

            @include breakpoint($tablet-landscape-only) {
                font-size: $tagline-primary-font-size-tablet-landscape;
                transition: $transition-default;
            }

            font-size: $tagline-primary-font-size;
            font-weight: $tagline-primary-font-weight;
            transition: $transition-default;

            &#rotating-text {
                color: $tagline-active-text-color;
            }
        }

        ul {
            list-style: none;

            li {
                @include breakpoint($mobile-portrait-only) {
                    font-size: 1rem;
                    padding: 0.35rem 1.4rem 0 0;
                    transition: $transition-default;
                }

                @include breakpoint($mobile-landscape-only) {
                    font-size: 1rem;
                    padding: 0.35rem 1.4rem 0 0;
                    transition: $transition-default;
                }

                font-size: 1.2rem;
                font-weight: bold;
                float: left;
                padding: 0.35rem 1.4rem 0.35rem 0;
                transition: $transition-default;

                &.active a {
                    color: $tagline-active-text-color;
                }

                a {
                    color: $light-base-color;
                }
            }
        }

        div.cta {
            margin-top: 1rem;

            a {
                letter-spacing: 1px;
                font-size: 1.25rem;
                font-weight: bold;

                &:link,
                &:visited {
                    background-color: $tagline-active-text-color;
                    color: $light-base-color;
                    display: inline-block;
                    padding: 0.9rem 1.8rem;
                }

                &:hover,
                &:active {
                    background-color: $tagline-active-text-color * 1.1;
                    text-decoration: none;
                }

                &:active {
                    background-color: $tagline-active-text-color;
                }
            }
        }
    }
}

#services {
    color: $dark-base-color;
    padding: $section-padding;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $dark-base-color;
    }

    h2 {
        text-align: center;
    }

    article {
        text-align: center;
        padding: 1.2rem;

        p {
            font-family: $content-font-family;
            font-size: 1rem;
            text-align: justify;
            width: 75%;
            margin: 1rem auto;
        }
    }

    figure {
        img {
            width: 10rem;
            height: 10rem;
            margin: 0 auto;
            transition: $transition-default;
        }

        figcaption {
            font-size: 1.3rem;
            font-family: $headings-font-family;
            padding-top: 1rem;
            text-align: center;
        }
    }

    div.services-carousel {
        .slick-arrow {
            height: 3rem;
            width: 3rem;

            &:before {
                color: $dark-base-color;
                font-size: 3rem;
                opacity: 1;
            }
        }

        .slick-current {
            figcaption{
                font-weight: 900;
            }
        }
    }
}

#testimonials {
    background-color: #2c302e;
    color: $light-base-color;
    padding: 5rem 0;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $stand-out-base-color;
    }

    h2 {
        text-align: center;
    }

    article {
        border-radius: 0.25rem;
        font-family: $content-font-family;
        font-size: 1rem;
        line-height: 100%;
        margin: 1rem auto;
        padding: 1rem;
        position: relative;
        text-align: center;

        blockquote {
            margin-top: 1rem;
            line-height: 150%;
        }

        small.author {
            font-family: $content-font-family;

            span {
                color: $stand-out-base-color * 1.5;
            }
        }
    }
}

#profiles {
    @include mobile-only() {
        padding: 3em 0;
    }
    background: #d64933;
    color: white;
    padding: 5vw 0;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: $section-break-border-size;
        width: 50%;
        border-left: $section-break-border-size solid transparent;
        border-bottom: $section-break-border-size solid $dark-base-color;
    }

    h2 {
        text-align: center;
    }
}

.team {
    margin-top: 4em;
    &-member {
        @include medium-screen-only() {
            max-width: 700px;
            margin: 0 auto;
        }
        @include tablet-and-below() {
            margin: 0 30px;
            text-align: center;
        }
        &-about {
            @include medium-screen-and-up() {
                margin-bottom: 9em;
            }
        }
        &-name {
            font-size: 2.7em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &-title {
            margin: 0 0 20px;
            text-transform: uppercase;
        }
        &-bio {
            font-size: 1.1em;
            line-height: 1.8;
        }
        &-photo {
            @include tablet-and-below() {
                margin-bottom: 2em;
            }
            margin: 0 auto;
            max-width: 450px;
            img {
                @include tablet-and-below() {
                    border: 4px solid $gray;
                    border-radius: 50%;
                }
            }
        }
    }
}

.teamNav {
    @include tablet-and-below() {
        display: none;
    }
    bottom: 1em;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: 10;
    &-slide {
        img {
            cursor: pointer;
            border: 4px solid $gray;
            background: white;
            border-radius: 50%;
            width: 70px;
        }
    }
    .slick-track {
        margin: 0 15px !important;
    }
}

.sitefooter {
    @include mobile-only() {
        padding: 3em 0;
        text-align: center;
    }
    background: $dark-base-color;
    color: white;
    padding-bottom: 3vw;
    padding-top: 5vw;
    position: relative;

    &-col1,
    &-col2 {
        @include mobile-only() {
            margin-bottom: 2em;
        }
    }

    &-col1 {
        ul {
            list-style: none;
            padding-left: 0;
            font-size: 1.8em;
            font-weight: bold;
            line-height: 1.4;
        }
    }

    &-col2 {
        @include tablet-and-up() {
            text-align: right;
        }

        img {
            width: 165px;
        }

        h5 {
            color: $stand-out-base-color;
            font-size: 2.2em;
            font-weight: bold;
            margin: 12px 15px 10px 0;
        }

        h6 {
            font-size: 2.2em;
            font-weight: bold;
            margin-top: 0;
        }
    }

    &-bottom {
        @include clearfix;
        border-top: 1px dashed transparentize(white, 0.8);
        margin-top: 30px;
        padding-top: 30px;

        address {
            float: left;
            font-size: 1em;
            font-style: italic;
            font-weight: bold;

            span {
                color: $stand-out-base-color;
            }
        }

        a {
            color: white;
            float: right;
            transition: 0.4s;

            &:hover,
            &:focus {
                color: $stand-out-base-color;
                text-decoration: none;
            }
        }

        address,
        a {
            @include mobile-only() {
                float: none;
            }
        }
    }

    form {

        h5 {
            font-weight: bold;
            margin-bottom: 1em;
            text-transform: uppercase;
        }

        input,
        textarea,
        button {
            border-radius: 0;
        }

        button {
            background: $stand-out-base-color;
            color: white;
            min-width: 100px;
        }
    }
}

.contact {
    @include mobile-only() {
        font-size: 1.7em;
        margin-bottom: 1em;
    }
    font-size: 2em;
    line-height: 1.1;
    margin-top: 0.5em;

    &--right {
        @include tablet-and-up() {
            text-align: right;
        }
    }

    &-name {
        font-size: 1em;
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    a {
        color: white;
        font-size: 0.8em;
        display: inline-block;
        text-decoration: none;

        &:after {
            content: "";
            background: transparent;
            height: 3px;
            display: block;
            margin-top: 5px;
            transition: 0.1s;
        }

        &:hover,
        &:focus {
            &:after {
                background: $stand-out-base-color;
            }
        }
    }
}

.mobile-border {
    @include tablet-and-up() {
        display: none;
    }
    border-top: 1px dashed transparentize(white, 0.8);
    margin: 30px 0;
}

.slick {
    &-next-arrow,
    &-prev-arrow {
        cursor: pointer;
        font-size: 2em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &-next-arrow {
        @include mobile-only {
            left: auto;
            right: 0;
        }
        left: 100%;
    }
    &-prev-arrow {
        @include mobile-only {
            left: 0;
            right: auto;
        }
        right: 100%;
    }
}
