$brand-color: #4c0827;
$brand-font-family: 'Merriweather Sans', sans-serif;

$tagline-primary-color: #fefffe;
$tagline-primary-bg-color: #2c302e;
$tagline-active-text-color: #d64933;
$tagline-primary-font-family: 'Rozha One', serif;
$tagline-primary-font-size: 5vw;
$tagline-top-margin: 52px;
$tagline-text-animation-duration: 1s;
$tagline-text-animation-delay: 0s;
$tagline-text-animation-iteration-count: 1;
$tagline-text-animation-direction: forwards;

$dark-base-color: #2c302e;
$light-base-color: #fefffe;

$headings-font-family: 'Rozha One', serif;
$content-font-family: 'Montserrat', sans-serif;

$section-break-border-size: 1vmax;
