@charset "UTF-8";

@import 'variables';
@import 'mixins';
@import 'base';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Roboto:100|Roboto+Mono|Montserrat');

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

#logo {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 100%;

    img {
        height: 40px;
        width: 40px;
    }

    a {
        color: #4c0827;
        font-family: "Merriweather Sans", sans-serif;
        font-size: 28px;
    }
}

nav.navbar {
    padding: 0rem 2rem;
}

div.navbar-collapse {
    position: relative;
}

li.nav-item {
    text-align: center;
    padding: 0 0.5rem;

    &:hover {
        background-color: none;
    }
}

@media only screen and (min-width: 768px) {
    ul.navbar-nav {
        position: absolute;
        right: 0;
    }
}

#slogan {
    margin-top: 52px;
    display: flex;
    background-color: #E06D2F;
    color: ghostwhite;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-size: $slogan-primary-font-size;
    height: $slogan-primary-font-size * 10.5;
    line-height: 100%;
    overflow: hidden;
    position: relative;

    * {
        margin: 0;
        padding: 0;
    }

    @media only screen and (max-width: 767px) {
        height: $slogan-primary-font-size * 7;
    }

    // Tagline or slogan
    div.wrapper {
        z-index: 1;
        position: relative;
        margin: 0 auto;

        p {
            float: left;
            padding: 0 0.5ch;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @media only screen and (max-width: 991px) {
                top: 0;
                transform: none;
            }
        }

        @media only screen and (max-width: 575px) and (orientation: portrait) {
            top: 21%
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) and (orientation: portrait) {
            top: 35%
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
            top: 42%
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
            top: 35%
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
            top: 42%
        }

        div.text-roller {
            text-transform: uppercase;
            float: left;
            position: relative;
            height: $slogan-primary-font-size * 7;
            top: 50%;
            transform: translateY(-50%);

            @media only screen and (max-width: 991px) {
                padding: 0 0.5ch;
                height: $slogan-primary-font-size;
                top: 0;
                transform: none;
            }

            div {
                overflow: hidden;

                &:nth-child(2) {
                    color: #212121;
                    background-color: rgba(255, 255, 255, 0.1);
                    height: $slogan-primary-font-size;
                }

                &:first-child {
                    height: $slogan-primary-font-size * 3;
                    z-index: -1;
                }

                &:last-child {
                    height: $slogan-primary-font-size * 3;
                    z-index: -1;
                }

                @media only screen and (max-width: 991px) {
                    &:first-child,
                    &:last-child {
                        display: none;
                    }
                }

                ul {
                    list-style: none;
                    text-align: center;

                    &.text-roll-up {
                        animation:  text-roll-up 1s 1 forwards;
                    }

                    &.text-roll-up.active {
                        animation: active-text-roll-up 1s 1 forwards;
                    }
                }

                @keyframes text-roll-up {
                  from {
                    transform: translateY(0);
                  }

                  to {
                    transform: translateY(-25%);
                  }
                }

                @keyframes active-text-roll-up {
                  from {
                    transform: translateY(0);
                  }

                  to {
                    transform: translateY(-50%);
                  }
                }
            }
        }
    }

    // Icons
    div.icon-set {
        height: 100%;
        opacity: 0.9;
        filter: alpha(opacity=90);
        font-size: 1rem;
        width: 49em;
        position: absolute;
        margin-left: -24.5em;
        left: 50%;

        @media only screen and (max-width: 767px) {
            font-size: 0.6rem;
        }

        img {
            position: absolute;

            &.monitor-icon {
                height: 30em;
                right: 2.5em;
            }

            &.laptop-icon {
                height: 30em;
                right: 14em;
                top: 1.7em;
            }

            &.tablet-icon {
                height: 18em;
                right: 0;
                top: 8.5em;
            }

            &.phone-icon {
                height: 12em;
                right: 7.5em;
                top: 14.4em;
            }

            &.bulb-icon {
                height: 15em;
                right: 34em;
                transform: rotate(-27deg);
                top: 5em;
                z-index: -1
            }

            &.cloud-icon {
                height: 12em;
                right: 24em;
                top: 0;
                z-index: -1;
            }

            &.cog-icon {
                height: 7em;
                right: 0;
                top: 16em;
                z-index: -1;
            }
        }
    }
}

#home {
    text-align: center;
    padding: 2vh 12vw;
    color: #212121;

    @media only screen and (max-width: 575px) and (orientation: portrait) {
        padding: 2vh 5vw;
    }

    > p {
        font-family: Roboto, sans-serif;
        font-size: 3vw;
        display: block;
        margin: 5vh auto;

        @media only screen and (max-width: 575px) and (orientation: portrait) {
            font-size: 6vw;
        }

        span.brand {
            color: #4c0827;
            font-family: "Merriweather Sans", sans-serif;
        }
    }

    > section {
        h3 {
            font-family: Montserrat, sans-serif;
            font-size: 3vw;
        }

        p {
            font-family: Roboto, sans-serif;
            font-size: 2rem;
        }
    }
}

#testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255,255,255,0)), url(../img/cell-5-logo.svg) repeat 0 0;
    background-color: #1F9471;
    color: ghostwhite;
    font-family: Montserrat, sans-serif;
    padding: 1rem 1rem 5rem 1rem;

    h2 {
        font-family: Roboto, sans-serif;
        font-size: 4rem;
        text-align: center;
    }

    @media only screen and (max-width: 992px) and (orientation: portrait) {
        padding-bottom: 1rem;
    }

    div.testimonial {
        @media only screen and (max-width: 992px) and (orientation: portrait) {
            margin-bottom: 8rem;
        }

        div.bubble {
            background-color: #3CA182;
            border-radius: 5px;
            position: relative;
            padding: 1rem;
            font-size: 1rem;
            text-align: center;

            img {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                &:first-child {
                    left: 1rem;
                }

                &:last-child {
                    transform: rotate(180deg);
                    right: 1rem;
                }
            }

            p {
                margin: 0 2rem;
            }

            &::after {
                content: '';
                position: absolute;
                left: 5rem;
                bottom: -1rem;
                height: 1rem;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-top: 1rem solid #3CA182;
            }
        }

        div.author {
            position: relative;
            margin-top: -1rem;

            img {
                position: absolute;
                width: 4.4rem;
                height: 4.4rem;
                background-color: white;
                border-radius: 2.2rem;
                border: 0.5em solid #1F9471;
            }

            p {
                color: ghostwhite;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }

            @media only screen and (max-width: 992px) and (orientation: portrait) {
                p {
                    left: 1rem;
                    top: 4.4rem;
                }
            }
        }
    }
}
