.footer {
  padding: 2em;
  background: grey;
  color: white;
  font-size: 12px;

  text-align: center;

  /* For absolute bottom footer */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
}
