.Header{

  /** To add a shadow between header and picture*/
  box-shadow: 0px 0px 10px black;
  z-index: 10;
  position: relative;
  /** **/

  /** To center text on small device hamburger dropdown*/
  text-align: center;
  /** **/
  transition: top 0.2s ease-in-out;

}

/* To add sticky nav to medium size screens */
@media only screen and (min-width: 768px) {
  header.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.35);
  }

  header.Header + div {
    position: relative;
    margin-top: 92px;
  }

  header.Header li {
    transition: 0.2s;
  }

  header.sticky {
    background: white;
    height: 55px;
  }

  /* To remove the top and bottom padding of header */
  .sticky .navbar,
  .sticky .nav-link {
    padding: 0 1rem;
  }

  /* To reduce the sizes of header texts by 10% */
  .sticky .headline {
    font-size: 1.8vw;
  }

  .sticky li {
    font-size: 0.9rem;
  }
}

/**START: customize color of hamburger**/
.navbar-light .navbar-toggler {
  border-color:var(--c2);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--c3);
  margin-left: 15px;
  padding-bottom: 5px;
  background-color: transparent;
  border-left: 2px solid var(--bg);

}
/**END: customize color of hamburger**/


.navbar-light .navbar-collapse>ul>li>a:hover,
.navbar-light .navbar-collapse>li>a:focus,
.navbar-light .navbar-collapse>li>a.active {
  color: var(--dark);
  background-color: rgba(214, 73, 51, 0.25);
  border-left: 2px solid var(--c2);

}

.navbar-light .navbar-toggler-icon{
  /**TODO: the svg color here  needs to be changed if we change color scheme!**/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(76, 8, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* .show.navbar-collapse{
  background-color: white;
  text-align: center;

}

.show.navbar-collaps a{
  background-color: white;
  text-align: center;
  text-decoration: underline;
} */

.headline{
  margin:auto;
  text-align: center;
  flex-grow: 10;
  font-size: 2vw;
  font-style: italic;
  white-space: nowrap;
  transition: 0.2s;
}
