.Header{

  /** To add a shadow between header and picture*/ 
  z-index: 10;
  position: relative;
  /** **/

  /** To center text on small device hamburger dropdown*/
  text-align: center;
  /** **/  
  transition: top 0.2s ease-in-out;

  width: 80%;
  margin: 0 auto;
}


/**START: customize color of hamburger**/
.navbar-light .navbar-toggler {
  border-color:var(--c2);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(90, 90, 90);
  margin-left: 15px;
  padding-bottom: 5px;
  background-color: transparent;
  border-left: 2px solid var(--bg);
 
}
/**END: customize color of hamburger**/


.navbar-light .navbar-collapse>ul>li>a:hover,
.navbar-light .navbar-collapse>li>a:focus,
.Navbar-light .navbar-collapse>li>a.active {
  color:rgb(255, 255, 255);
  background: rgb(238, 238, 238);
  
}

.navbar-light .navbar-toggler-icon{
  /**TODO: the svg color here  needs to be changed if we change color scheme!**/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(76, 8, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* .show.navbar-collapse{
  background-color: white;
  text-align: center;

}

.show.navbar-collaps a{
  background-color: white;
  text-align: center; 
  text-decoration: underline;
} */
 
.headline{
  margin:auto 0;
  text-align: center;
  flex-grow: 10;
  font-size: .9em;
  white-space: nowrap;
  color: rgb(90, 90, 90);
}

NavLink
{
  margin: 0;
}

